Sec-WebSocket-Key keys are not 24 bytes

**Describe the bug**
Sec-WebSocket-Key keys are not 24 bytes

t seems the `sec-websocket-key` is against RFC 6455, § 4.1:

_7. The request MUST include a header field with the name |Sec-WebSocket-Key|. The value of this header field MUST be a nonce consisting of a randomly selected 16-byte value that has been base64-encoded (see Section 4 of [RFC4648]). The nonce MUST be selected randomly for each connection._

The `qjaovfzeqzo=` value has some 12 bytes, which is only half of the required number of bytes: 24, so our OpenSIPS cluster (OpenSIPS v3.1) immediately rejects it.

```
GET /ws HTTP/1.1.
user-agent: Dart/2.8 (dart:io).
connection: Upgrade.
origin: xx.xx.xx.
accept-encoding: gzip.
content-length: 0.
sec-websocket-version: 13.
host: xxx.xxx.xxx.co.uk:8000.
x-surevoip-app: SureVoIP-Talk v1.0.0+16 .
sec-websocket-key: qjaovfzeqzo=.
upgrade: websocket.
.

T 2020/08/03 18:50:50.638148 185.26.240.44:8000 -> 212.159.59.85:27059 [AP]
HTTP/1.1 400 Bad Request.
Sec-WebSocket-Version: 13.
.
```

See https://github.com/OpenSIPS/opensips/commit/6f24b2

**To Reproduce**
Use WebSocket with WS compliant server

**Expected behavior**
Longer key

**System Infomation()**
Flutter SDK Version: 1.17 stable
dart-sip-ua: master

I think this is because I'm testing using:

`settings.webSocketSettings.allowBadCertificate = true;`

and that sets 8 bytes for sec key.



Yeah, I was using that setting with a WS not WS, and now it works, but still, the key length is too short.

Here is the code with the issue:

https://github.com/cloudwebrtc/dart-sip-ua/blob/master/lib/src/transports/websocket_dart_impl.dart#L68